article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

.sm-free {
	width: 105px;
	height: 61px;
	background: url(../img/free.png);
	position: absolute;
	right: -2px;
	top: -2px;
	z-index: 2;
}
.swiper1, .swiper1 .swiper-slide{
	width: 640px;
	height: 300px;
}
.pagination1 {
	text-align: center;
	margin-top: 5px;
}
.content-slide {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
}
.cs-1, .cs-2 {
	float: left;
	width:270px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.cs-1 {
	margin-right: 20px;
	background: #333;
	color: #fff;
}
.cs-2 {
	background: #ad2e4c;
	color: #fff;
}
/* Pagination */
.pagination1 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
/*	border-radius: 10px;*/
	background: #999;
	box-shadow: 0px 1px 2px #666 inset;
	margin: 0 3px;
	cursor: pointer;
}
.pagination1 .swiper-active-switch {
	background: #006988;
}

.sw-title {
	padding: 5px 20px;
	font-size: 41px;
	margin: 50px 0 20px;
	font-family: 'Lato', sans-serif;
	line-height: 50px;
	color: #222;
	font-weight: 300;
	border-bottom: 1px solid #555;
}
.sw-content {
	background: #fff;
	border-radius: 5px;
}
.demo-title {
	margin-bottom: 5px;
	text-align: center;
	font-size: 31px;
	font-family: "Lato", Arial, Helvetica;
	font-weight: 300;
	line-height: 35px;
	margin: 50px 0 20px;
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
